.advantages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 30px;

  &__icon {
    display: block;
    width: 24px;
    height: 24px;
    margin-bottom: 18px;
  }

  @include media-min ($sm) {
    row-gap: 30px;
  }

  @include media-min($lg) {
    padding: 0;
    padding-bottom: 60px;
    grid-template-columns: none;
    row-gap: 25px;

    &__item {
      display: flex;
      align-items: center;
    }

    &__icon {
      margin-bottom: 0;
      margin-right: 18px;
    }
  }
}
