.logo {
  &__img {
    display: block;
    width: 100px;
    height: 50px;
  }

  @include media-min ($md) {
    &__img {
      width: 160px;
      height: 78px;
    }
  }

  @include media-min ($lg) {
    background-color: var(--white);
    padding: 16px;
  }
}
